<div class="footer">
    <div class="container">
        <div class="menu-footer">
            <div class="row">
                <div class="logo-footer col-lg-4">
                    <a href="/"><img class="img-responsive" src="/assets/images/logo-escort-fans.svg" alt="Escort Fans"></a>
                </div>
                <div class="directory-column col-lg-2 col-xs-12 col-sm-3 col-md-6">
                    <h3>website menu</h3>
                    <ul>
                        <li><a ui-sref-active="active" ui-sref="escorts">Escorts</a></li>
                        <li><a ui-sref-active="active" ui-sref="login">login</a></li>
                        <li><a ui-sref-active="active"  ui-sref="signup">register</a></li>
                        <li ng-hide="!isLoggedIn()"> <a ui-sref-active="active" ui-sref="profile">settings</a></li>
                    </ul>
                </div>
                <div class="directory-column col-lg-2 col-xs-12 col-sm-3 col-md-6">
                    <h3>about us</h3>
                    <ul>
                        <li><a ui-sref-active="active" ui-sref="aboutUs">about us</a></li>
                        <li><a ui-sref-active="active" ui-sref="contact">contact us</a></li>
                        <li><a ui-sref-active="active" ui-sref="help">help</a></li>
                    </ul>
                </div>
                <div class="directory-column col-lg-2 col-xs-12 col-sm-3 col-md-6">
                    <h3>legal</h3>
                    <ul>
                    <li><a ui-sref-active="active" ui-sref="2257-statement">2257 statement</a></li>
                    <li><a ui-sref-active="active" ui-sref="privacy-policy">privacy policy</a></li>
                    <li><a ui-sref-active="active" ui-sref="terms-conditions">terms & conditions</a></li>
                        </ul>
                </div>
                <div class="directory-column col-lg-2 col-xs-12 col-sm-3 col-md-6">
                    <h3>follow us</h3>
                    <ul><li>
                    <i class="fab fa-twitter"></i></li>
                        </ul>
                </div>
            </div>
        </div>
        <p class="text-copyright">Copyright &copy; 2020 Escorts Fans | All rights Reserved </p>
    </div>
</div>

