<!-- navbar -->
<navbar></navbar>
<!-- content -->
<div class="login-page">
  <div class="box-login">
      <div class="form-login">
        <form class="form" name="form" ng-submit="register(form)" novalidate>
          <h3 class="text-center">REGISTER</h3>
          <p style="text-align: center">This form allows you to register as a fan.<br />If you want to become an escort, please <a ui-sref="signupPerformer">register here instead</a>.</p>
          <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
            <label>Name</label>

            <input type="text" name="name" class="form-control input-lg" ng-model="user.name"
                   required/>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
              A name is required
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': (form.email.$invalid || validateEmail) && submitted }">
            <label>Email</label>

            <input type="email" name="email" class="form-control input-lg" ng-model="user.email"
                   required
                   />

            <p class="help-block" ng-show="(form.email.$error.email || validateEmail) && submitted">
              Doesn't look like a valid email.
            </p>
            <p class="help-block" ng-show="form.email.$error.required && submitted">
              What's your email address?
            </p>
            <p class="help-block" ng-show="form.email.$error.mongoose">
              {{ errors.email}}
            </p>
          </div>
         
          <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
            <label>Password</label>

            <input type="password" name="password" class="form-control input-lg" ng-model="user.password"
                   ng-minlength="3"
                   required
                   mongoose-error/>
            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
              Password must be at least 3 characters.
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.password}}
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && submitted,
                                            'has-error': form.confirmPassword.$invalid && submitted }">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control input-lg" ng-model="user.confirmPassword"
                   match="user.password"
                   ng-minlength="3" required/>
            <p class="help-block"
               ng-show="form.confirmPassword.$error.match && submitted">
              Passwords must match.
            </p>
          </div>

          <div>
            <button type="submit" class="btn btn-warning btn-lg btn-block cta-register">CREATE YOUR FAN ACCOUNT</button>
          </div>
          <div class="text-center mar-top-10">
              Want to become a provider?  <a ui-sref="signupPerformer">register here.</a>
          </div>
        </form>
      </div>
    </div>
  </div>


<footer></footer>
