<div>
  <div class="title-pro">
    <span>Account information</span>
  </div>
  <form class="form-horizontal form" enctype="multipart/form-data" name="form" ng-submit="updateProfile(form)" novalidate>
    <div class="form-group">
      <label class="col-sm-4 col-lg-2 control-label">Profile link</label>
      <div class="col-sm-8 col-lg-10">
        <h5>{{domain}}/{{model.username}}</h5>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 col-lg-2 control-label">Email</label>
      <div class="col-sm-8 col-lg-10">
        <input ng-disabled="true" type="text" name="email" class="form-control" ng-model="model.email" required>
        <p class="help-block" ng-show="form.email.$error.email && submitted">
          Doesn't look like a valid email.
        </p>
        <p class="help-block" ng-show="form.email.$error.required && submitted">
          What's your email address?
        </p>
        <p class="help-block" ng-show="form.email.$error.mongoose">
          {{ errors.email}}
        </p>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-4 col-lg-2 control-label">First name</label>
      <div class="col-sm-8 col-lg-4">
        <input type="text" name="firstName" ng-model="model.firstName" class="form-control" required>
        <p class="help-block" ng-show="form.firstName.$error.required && submitted">
          First name is required
        </p>
      </div>
      <label class="col-sm-4 col-lg-2 control-label">Last name</label>
      <div class="col-sm-8 col-lg-4">
        <input type="text" name="name" ng-model="model.lastName" class="form-control" required>
        <p class="help-block" ng-show="form.lastName.$error.required && submitted">
          Last name is required
        </p>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-4 col-lg-2 control-label">Bio</label>
      <div class="col-sm-8 col-lg-10 mar-bot-10">
        <textarea type="text" name="description" ng-model="model.description" class="form-control" rows="3" />
        </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 col-lg-2 control-label">Age</label>
      <div class="col-sm-8 col-lg-4">
        <input type="number" name="age" ng-model="model.age" class="form-control">
      </div>
      <label class="col-sm-4 col-lg-2 control-label">Sex</label>
      <div class="col-sm-8 col-lg-4">
        <select type="text" name="sex" ng-model="model.sex" class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="TS">TS</option>
          <option value="TV">TV</option>
          <option value="Duo">Duo</option>
        </select>
      </div>
    </div>
    

    <div class="title-pro">
      <span>Payout, Invoice &amp; Billing Details</span>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <label class="control-label">First Name</label>
        <input type="text" name="firstName" ng-model="model.bankFirstName" class="form-control">
      </div>
      <div class="col-lg-6">
        <label class="control-label">Last Name</label>
        <input type="text" name="lastName" ng-model="model.bankLastName" class="form-control">
      </div>
      <div class="col-lg-6">
        <label class="control-label">VAT/TAX ID</label>
        <input type="text" name="bankBusinessTaxId" ng-model="model.bankBusinessTaxId" class="form-control">
      </div>
      <div class="col-lg-6">
        <label class="control-label">Skrill Email</label>
        <input type="text" name="skrill" ng-model="model.skrill" class="form-control">
      </div>
      

      <div class="col-lg-12">
        <label class="control-label">Address</label>
        <input type="text" name="bankAddress" ng-model="model.bankAddress" class="form-control">
      </div>
      
      <div class="col-lg-12">
        <label class="control-label">Address (2nd line)</label>
        <input type="text" name="bankAddress2" ng-model="model.bankAddress2" class="form-control">
      </div>
      
      
      <div class="col-lg-6">
        <label class="control-label">City</label>
        <input type="text" name="bankCity" ng-model="model.bankCity" class="form-control">
      </div>
      <div class="col-lg-6">
        <label class="control-label">County/State</label>
        <input type="text" name="bankState" ng-model="model.bankState" class="form-control">
      </div>
      <div class="col-lg-6">
        <label class="control-label">Country</label>
        <input type="text" name="bankCountry" ng-model="model.bankCountry" class="form-control">
      </div>
      <div class="col-lg-6">
        <label class="control-label">Postal/Zip Code</label>
        <input type="text" name="bankZip" ng-model="model.bankZip" class="form-control">
      </div>
      
    </div>
    <br>
    <div class="title-pro">
      <span>Subscription settings</span>
    </div>
    <div class="row">
      <!--
      <div class="col-lg-4">
        <label class="control-label">Daily subscription price</label>
        <input type="number" name="monthly" ng-model="model.subscriptionDailyPrice" class="form-control" min="1">
      </div>
      <div class="col-lg-4">
        <label class="control-label">Weekly subscription price</label>
        <input type="number" name="monthly" ng-model="model.subscriptionWeeklyPrice" class="form-control" min="1">
      </div>
      -->
      <div class="col-lg-12">
        <label class="control-label">Monthly subscription price</label>
        <input type="number" name="monthly" ng-model="model.subscriptionMonthlyPrice" class="form-control" min="1">
      </div>
      <!--
      <div class="col-lg-12">
        <p class="help help-block">
          <small>You can disable any of the payment frequencies by setting the price to 0 (zero).</small>
        </p>
      </div>-->
    </div>

    <br>
    <div class="title-pro">
      <span>Welcome data</span>
    </div>
    <div class="row">

      <div class="col-lg-12">
        <label class="control-label">Cover Photo</label>
        <img fallback-src ng-src="{{model.welcomePhoto}}" style="max-width: 100%" ng-if="!cropper.croppedImage" />
        <img ng-src="{{cropper.croppedImage}}" ng-if="cropper.croppedImage" style="max-width: 100%; padding:15px" />
        <div class="clearfix"></div>
        <!-- <input type="file" ng-model="welcomePhoto" name="file" ngf-select="uploadFile($file, 'welcomePhoto')" accept="image/*" ngf-max-size="100MB" /> -->
        <input type="file" img-cropper-fileread image="cropper.sourceImage" accept="image/*" ngf-max-size="100MB" name="file" />
        <p class="help help-block" id="max-width">
          <small>Allow image file<br>NO EXPLICIT MATERIAL ALLOWED</small>
        </p>
        <div ng-if="cropper.sourceImage !== null">
          <canvas width="600" height="300" id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="1680" crop-height="550" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas>
        </div>
        <div class="btn btn-danger mar-bot-10" ng-if="cropper.sourceImage" ng-click="crop()">Crop Image!</div>
        <div class="progress" ng-show="welcomePhoto.progress">
          <div class="progress-bar" role="progressbar" ng-style="{width: welcomePhoto.progress + '%'}">
            <span class="sr-only">{{welcomeVideo.progress}}0% Complete</span>
          </div>
        </div>
      </div>
      <div style="display:inline-block; width:100%">
        <div class="col-lg-12">
            <label class="control-label">Welcome Photo</label>
            <div class="photo-upload">
              <img ng-src="{{photo  | checkAvatar}}" fallback-src>
              <div class="upload">
                <button type="file" class="btn btn-warning" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-size="100MB">
                  Upload Photo</button>

                <!-- <div >{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                      <span class="progress" ng-show="f.progress >= 0">
                          <div style="width:{{f.progress}}%"
                               ng-bind="f.progress + '%'"></div>
                      </span>
                  </div> -->
                <p class="help help-block">
                  <small>Allow image file.<br>NO EXPLICIT MATERIAL ALLOWED</small>
                </p>
                <div class="progress" ng-show="MainPhotoUploading" style="postion:relative">
                  <div class="progress-bar" role="progressbar" ng-style="{width: welcomeFile.progress + '%'}">
                    <div style="color:red;position:absolute;left:50%">{{welcomeFile.progress}}% </div>
                  </div>
                </div>
                {{errorMsg}}

              </div>
          </div>
        </div>

      </div>
    </div>

    <hr />
    <div class="text-center">
      <button type="submit" class="btn btn-warning btn-lg">Save Profile</button>
    </div>
  </form>
</div>